.player {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.player__local-container {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: calc((16 / 9) * 100px);
}

.player__local {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
}

.player__remote {
    width: 100vw;
    height: 100vh;
    transform: rotateY(180deg);
}

.player__loader {
    position: fixed;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
}

.player__state {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(25,25,25);
    padding: 12px 20px;
    border-radius: 8px;
}

.player__touch-zone {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.player__actions {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    z-index: 3;
    width: 100vw;
}

.player__actions:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    background-image: linear-gradient(transparent, rgb(0,0,0));
    transform: translateY(100%);
    transition: transform .4s;
    pointer-events: none;
}

.player__actions-group {
    position: relative;
    display: flex;
    align-items: center;
}

.player__action {
    min-width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(25, 25, 25, .6);
    color: white;
    cursor: pointer;
    margin-right: 8px;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity .4s, transform .4s;
}

.player__action:hover,
.player__action--active {
    background-color: rgb(25, 25, 25);
}

.player__action-label {
    margin-top: 8px;
    font-size: 14px;
}

.player__actions--fixed:before,
.player__actions:hover:before,
.player__actions:focus:before,
.player__actions:active:before {
    transform: translateY(0);
}

.player__actions--fixed .player__action,
.player__actions:hover .player__action,
.player__actions:focus .player__action,
.player__actions:active .player__action {
    opacity: 1;
    transform: translateY(0);
}

.player__state {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.settings__panel {
    position: absolute;
    bottom:calc(100% + 8px);
    background-color: rgb(25,25,25);
    color: white;
    width: 100%;
    max-height: calc(100vh - 124px);
    overflow: auto;
    padding: 20px 0;
}

.settings__subheader {
    color: rgb(200,200,200);
    padding: 0 20px;
}

.settings__item {
    min-height: 56px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.settings__item:hover {
    background-color: rgb(40,40,40);
}

.settings__item-name {
    width: calc(100% - 44px);
    margin: 0 20px;
}

.settings__item-name-main {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.settings__item-name-sub {
    color: rgba(255,255,255, .6);
    font-size: 12px;
}

.player__details {
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 30px;
    text-align: left;
    flex-grow: 1;
    color: white;
    background-color: transparent !important;
}

.player__text>p {
    font-size: 24px;
}

.player__text>p>span:first-child {
    color: rgb(255, 255, 255, .6);
}

.player__text>p>span:last-child {
    cursor: text;
    user-select: text;
}